*{
    margin: 0px;
}
 div{
    background-color:  rgba(255, 255, 0, 0.26);
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
 }
  

.cabecalho{
    background: url("borboleta.png") no-repeat scroll right;
    background-size: 150px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    height: 120px;
    width:  1335px;
    border: 2px solid black;

}

#site{
   border: 2px solid black;
    margin: 30px 40px;
   background-color: white;
   border-radius: 30px;
   width: 300px;
   
}
.corpo{
    background-color:yellow;
    height: 90vh;
    width: 1fr;
}