body {
    background-image: url("margaridas.jpeg");
    background-repeat: no-repeat;
    background-position: center;
        margin-right: 200px;
        background-attachment: fixed;
      
  }