#div1{
    background-color: pink;
    color:antiquewhite;
    font-size: 70px;
    height: 200px;
    width: 1330px;
    text-align: center;
    padding-top: 10px;
}
#div2{
    background-color: yellow;
    color:antiquewhite;
    font-size: 30px;
    height: 200px;
    width: 1330px;
    text-align: center;
    padding-top: 10px;
}
#div3{
    background-color:blue ;
    font-size: 30px;
    color:antiquewhite;
    height: 200px;
    width: 1330px;
    text-align: center;
    padding-top: 10px;
}
#div4{
    background-color: purple;
    font-size: 30px;
    color:antiquewhite;
    height: 200px;
    width: 1330px;
    text-align: center;
    padding-top: 10px;
}