h1{
    background-color: blueviolet;
    color:aliceblue;
    font-style: italic;
}
#aa { background-color: lightblue;
    
color: black;}

h2 {color:rgb(5, 32, 56);
background-color: rgb(113, 186, 245);
font-style: italic;
}

#ab {
    background-color: #cbc3e3 ;
}