#qwe{
    background-color: pink;
    height: 100px;
    width: 1500px;
}
#abc{
    background-color: yellow;
    height: 100px;
    width: 1500px;
}
#cba{
    background-color:blue ;
    height: 100px;
    width: 1500px;
}
#bac{
    background-color: purple;
    height: 100px;
    width: 1500px;
}